/* Base Styles - Full Page Black */
body {
    background-color: #151515;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
}

/* Luxury Clock Container */
.luxury-clock-container {
    padding: 3rem 4rem;
    text-align: center;
    min-width: 400px;
}

/* Gold Time Display */
.luxury-time-display {
    font-size: 4.5rem;
    color: #f9f9f9;
    letter-spacing: 3px;
    margin-bottom: -1rem;
    font-weight: 500;
}

.button {
    margin: 4px;
    margin-top: 10px;
    font-family:sans-serif;
    padding: 0.4rem 1.2rem;
    background-color: #2b2b2b;
}